
SoftwareAdministrativo/Software Administrativo/.vs/Software Administrativo/v15/Server/sqlite3/db.lock
SoftwareAdministrativo/Software Administrativo/.vs/Software Administrativo/v15/Server/sqlite3/storage.ide
SoftwareAdministrativo/Software Administrativo/.vs/Software Administrativo/v15/Server/sqlite3/storage.ide-shm
SoftwareAdministrativo/Software Administrativo/.vs/Software Administrativo/v15/Server/sqlite3/storage.ide-wal
